body{
background: black;
}

h1{
    background-color: #8F0000;
    color:whitesmoke;
    text-align: center
}

.friend p{
    background-color:#000088;
    color:whitesmoke;
    text-transform: uppercase;
    text-align: center;
}

/* p {
 
} */

img {
    align-content: center;
    width: 25rem;
    height: 25rem ;
}