body{
background: black;
}

h1{
    background-color: #8F0000;
    color:whitesmoke;
    text-align: center
}

#button{
height: 2rem; 
width:5rem;
}

h3{
    text-transform: uppercase;
    color:whitesmoke;
    text-align: center;
}
p{
    text-align:center;
    color:whitesmoke;

}
img {
    align-content: center;
    width: 25rem;
    height: 25rem ;
}